*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}
html{
    scroll-behavior: smooth;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #ccc;
}
@font-face {
    font-family: myFont;
    src: url(fonts/LobsterTwo-Regular.ttf);
}
/* End of common styling  */

/* menu icon */
.menu{
    width: 40px;
    height: 40px;
    position: fixed;
    top:  40px;
    left: 40px;
    z-index: 12;
    flex-direction: column;
    transition: all 0.5s;
    cursor: pointer;
}

.menu.change{
    transform: rotate(45deg);
    left: 15vw;
}
.menu-line{
    width: 100%;
    height: 2px;
    margin: 5px 0;
    background-color: white ;
    transition: transform 0.5s;
    box-shadow: 1px 1px 1px black;
}
.change .menu-line_1{
    transform: rotate(270deg) translateX(-0.7rem);
}
.change .menu-line_2{
    transform: rotate(360deg)  translateY(-0.4rem);
}
/* End of menu icon  */
 
/* navbar */
.navbar{
    width: 15vw;
    height: 100vh;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -15vw;
    padding: 80px 0 0 40px;
    z-index: 10;
    transition: left 0.5s;
    font-family: myFont;
    
}
.navbar.change{
    left: 0;
}
.navbar-link{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
    color: gray;
}
.navbar-link:hover{
    color: black;
}
/* End of navbar  */

/* section common styling */
.wrapper{
    width: 100%;
    perspective: 400px;
}
section{
    width: 100%;
    height: 100vh;
    margin-bottom: 20px;
    position: relative;
    left: 0;
    background-color: #efefef;
    box-shadow: 5px 5px 10px #aaa;
    transform-origin: left;
    transition: left 0.5s , transform 0.5s;
}
section.change{
    left: 15vw;
    transform: rotateY(10deg);
}

.section-heading{
    color: #ffff;
    font-size: 100px;
    font-weight: 600;
    font-family: myFont;
    letter-spacing: 10px;
    margin: 50px 0;
    word-spacing: 5px;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}
/* End of section common styling  */

/* section-1  */
.section-1{
    flex-direction: column;
    background-image: url(images/bg-section1.jpg);   
    justify-content: space-evenly;
}
.section-1-image{
    width: 70%;
    margin-top: 50px;
}
.section-1-heading{
    text-shadow: 5px 5px 5px black , 6px 6px 6px black;
}
/* End of section-1  */

/* section2  */
.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.car-card{
    width: 400px;
    margin: 0 30px;
    padding: 10px;
    background-color: white;
    box-shadow: 6px 6px 6px gray;
    position: relative;
    transition: box-shadow 0.5s;
}
.car-card h2{
    color: aliceblue;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}
.car-card:hover {
    box-shadow: 8px 8px 8px grey;
}
.car-card h3{
    font-size: 18px;
    color: #777;
}
.card-img{
    width: 100%;
    opacity: 0.8;
}
.car-card:hover .card-img{
    opacity: 1;
}
.car-card button{
    width: 100%;
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
    border: none;
    color: whitesmoke;
    background-color: white;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
    box-shadow:  1px 1px 5px #bbb;
}
/* End of section-2  */

/* section-3  */
.section-3{
    background-color: #222;
    display: flex;
    flex-direction: column; 
}
.video-gallery{
    flex-wrap: wrap;
}
video{
    width: 25%;
    margin: 0 20px;
    opacity: 0.8;
    border-radius: 8px;
    transition: all 0.5s;
}
video:hover{
    opacity: 1;
    box-shadow: 5px 5px 10px #111 ;
}
/* End of section-3  */

/* section-4 */
.section-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rack{
    margin: 80px 0;
    perspective: 200px;
}
.image-rack{
    height: 30px;
    width: 80%;
    perspective: 100px;
    position: relative;
    background-color: rgba(38, 126, 199, 0.8);
    margin: auto;
    box-shadow: 10px 10px 50px  black;
}
.image-rack::before{
    content: "";
    height: 100px;
    width: 100%;
    position: absolute;
    top: -100px;
    background-color: rgba(34, 152, 248, 0.7);
    transform: rotateX(20deg);
    transform-origin: bottom;
}
.rack img{
    width: 15%;
    position: absolute;
    bottom: 60px;
    transform:  translateX(-50%) rotateX(2deg);
    transform-origin: bottom;
    box-shadow: 5px -5px 30px rgb(145, 145, 145);
    transition: all 0.5s;
    border-radius: 5px;
}
.img-1{
    left: 30%;
}
.img-2{
    left: 50%;
}
.img-3{
    left: 70%;
}
.rack img:hover{
    transform: translateX(-50%) rotatex(0deg);
    box-shadow: 0 0.2rem 0.3rem #888
}
/* End of section-4  */
 
/* section-5  */
.section-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(images/bg-section5.jpg) center no-repeat;
    background-size: cover;
    margin-bottom: 0;
}
.contact-form{
    width: 600px;
    height: 450px;
    padding:  50px ;
    flex-direction: column;
    border: 20px solid rgba(255, 255, 255 , 0.9);
    margin-bottom: 60px;
    background-color: rgba(255, 255, 255, 0.2);
}
.contact-form input , textarea{
    width: 100%;
    margin: 20px 0;
    padding: 5px  ;
    font-size: 15px;
    letter-spacing: 1px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}
.contact-form input:focus{
    background-color: rgba(255, 255, 255 , 0.2);
}
.contact-form .form-btn{
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    letter-spacing: 0.3rem;
    color: #444;
    cursor: pointer;
}
.contact-form textarea {
    max-width: 100%;
    min-height: 8rem;
  }
  /* End of section-5  */

/* responsive */


 @media (max-width: 1500px) {
  .navbar {
    width: 20vw;
    padding: 2rem 0 0 2rem;
    left: -20vw;
  }

  .menu.change {
    left: 20vw;
  }

  section.change {
    left: 20vw;
    transform: rotateY(15deg);
  }

  .section-heading {
    font-size: 90px;
  }

  .section-1-image {
      margin-top: 30px;
  }

  .section-2 {
    height: auto;
    padding: 50px 0 100px 0;
  }

  .card-wrapper {
    flex-wrap: wrap;
  }

  .car-card {
    
    margin: 30px;
  }

  .section-3 {
    height: auto;
    padding: 50px 30px;
  }

  video {
    margin: 30px;
  }

  .section-4 {
    height: auto;
    justify-content: space-between;
  }
  .section-4_heading{
    margin-bottom: 100px;
  }

  .rack {
    margin: 160px 0;
  }
  .image-rack{
    width: 90%;
  }
 
  .rack img {
      width: 20%;
  }

  .img-1 {
    left: 24%;
  }

  .img-3 {
    left: 76%;
  }
  .section-5{
    height: auto;
  }
}

@media (max-width: 1000px) {

  .navbar {
    width: 25vw;
    left: -25vw;
  }

  .menu.change {
    left: 25vw;
  }

  section.change {
    left: 25vw;
    transform: rotateY(20deg);
  }
  .section-1 {
    justify-content: space-evenly;
  }

  .section-1-img {
    width: 90%;
  }
  .car-card{
    width: 550px;
  }

  .section-3 {
    height: auto;
  }

  .video-gallery {
    flex-direction: column;
  }

  video {
    width: 70%;
    margin: 30px 0;
  }
  .image-rack{
    width: 95%;
  }
  .rack img{
    width: 22%;
  }
}
@media (max-width: 780px) {
    .navbar {
      width: 30vw;
      left: -30vw;
    }
  
    .menu.change {
      left: 30vw;
    }
  
    section.change {
      left: 30vw;
      transform: rotateY(25deg);
    }
  
    .section-heading {
      font-size: px;
    }
  
    .section-4 {
      padding: 60px 0 10px 0;
    }
  
    .image-rack {
      height: 15px;
      width: 95%;
    }
  
  
    .rack img {
      width: 20%;
      bottom: 40px;
    }
  
    .gallery-img-2 {
      left: 22%;
    }
  
    .gallery-img-3 {
      left: 78%;
    }
}
   @media (max-width: 600px) {
    
    .navbar {
      width: 40vw;
      left: -40vw;
    }
    .menu{
        width: 30px;
    }
  
    .menu.change {
      left: 40vw;
    }
  
    section.change {
      left: 0;
      transform: rotateY(0);
    }
  
    .section-heading {
      font-size: 45px;
    }
  
    .section-1-img {
      width: 100%;
    }
    .car-card{
        width: 350px;
    }
  
    .video {
      width: 100%;
      margin: 20px 0;
    }
  
    .gallery {
      margin: 90px 0;
    }
  
    .contact-form {
      width: 400px;
      border: 10px solid rgba(255, 255, 255, 0.8);
    }
  }
  
  @media (max-width: 400px) {
    .car-card{
        width: 300px;
    }
   .contact-form{
    width: 350px;
    border: 5px solid rgba(255, 255, 255 , 0.9);
   }

}

  @media(max-width: 360px){
    .section-heading{
        font-size: 40px;
        letter-spacing: 0.1px;
    }
    .car-card{
        width: 250px;
    }
    .section-4{
        height: auto;
    }
    .rack{
        margin: 40px 0;
    }
    .image-rack{
        height: 15px;
        width: 88%;
    }
    .image-rack::before{
        content: "";
        height: 30px;
        width: 100%;
        position: absolute;
        top: -30px;
    }
    .rack img{
        width: 22%;
        position: absolute;
        bottom: 30px;
    }
    .contact-form{
        width: 300px;
    }
    .contact-form input , textarea{
        margin: 8px 0;
        padding: 2px  ;
        font-size: 15px;
        letter-spacing: 1px;
        border: 1px solid white;
       
    }

  }
